@font-face {
    font-family: minecraft-regular;
    src: url("./fonts/minecraft-regular.otf") format("opentype");
}

@font-face {
    font-family: minecraft-bold;
    src: url("./fonts/minecraft-bold.otf") format("opentype");
}

body, html {
    font-family: minecraft-regular;
    background-color: rgba(0, 0, 0, 0.5);
    image-rendering: pixelated;
    margin: 5%;
}